<!doctype html>
<html lang="pt-br" layout:decorate="~{layout}"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<script src="https://kit.fontawesome.com/a754f6b464.js"></script>

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">


<title>Angra Paiol</title>
</head>

<body>
	<section layout:fragment="conteudo">
	
	<p> Lorem ipsum dolor sit amet, consectetur adipiscing elit.
	 Vivamus efficitur nisl vitae erat hendrerit aliquam. Nulla facilisi.
	  Curabitur ac vestibulum tortor. Sed lacinia vel lectus ut elementum.
	   Nunc diam lectus, fermentum ut lacus sit amet, malesuada luctus tortor.
	    Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos 
	    himenaeos. Curabitur molestie massa leo, aliquet tempor lorem mollis sed. Aenean iaculis 
	    efficitur erat quis facilisis. Class aptent taciti sociosqu ad
	     litora torquent per conubia nostra, per inceptos himenaeos.
	      Quisque nec velit at felis venenatis placerat. Pellentesque 
	      sit amet libero non mi vestibulum scelerisque.</p>
	
	</section>
	
</body>
</html>